In [2]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\prati.pratik\anaconda3\lib\site-packages (4.20.0)
Requirement already satisfied: urllib3<3,>=1.26 in c:\users\prati.pratik\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.0.7)
Requirement already satisfied: trio~=0.17 in c:\users\prati.pratik\anaconda3\lib\site-packages (from selenium) (0.25.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\prati.pratik\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\prati.pratik\anaconda3\lib\site-packages (from selenium) (2024.2.2)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\prati.pratik\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\prati.pratik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\prati.pratik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\prati.pratik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\prati.pratik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\prati.pratik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\prati.pratik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.16.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\prati.pratik\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\users\prati.pratik\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\prati.pratik\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\prati.pratik\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [3]:
import selenium
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from selenium import webdriver
from selenium.webdriver.common.by import By
import time

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location.
You have to scrape the job-title, job-location, company_name, experience_required. You have to
scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [14]:
driver = webdriver.Chrome()

In [59]:
driver.get("https://www.shine.com/")

In [64]:
designation = driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys("Data Analyst")

In [65]:
location = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div[1]/form/div/div[1]/ul/li[2]/div/input")
location.send_keys("Banglore")

In [66]:
search = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div[1]/form/div/div[2]/div/button")
search.click()

In [61]:
job_titles = []
job_locations = []
company_names = []
experience_required = []

In [93]:
title = driver.find_elements(By.XPATH,'//strong[@class="jobCard_pReplaceH2__xWmHg"]')[0:20]
for i in title:
    title_tag=i.text
    job_titles.append(title_tag)

location = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')[0:20]
for i in location:
    location_tag=i.text
    job_locations.append(location_tag)

names = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')[0:20]
for i in names:
    name_tag=i.text
    company_names.append(name_tag)

experience = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')[0:20]
for i in experience:
    experience_tag=i.text
    experience_required.append(experience_tag)

WebDriverException: Message: disconnected: not connected to DevTools
  (failed to check if window was closed: disconnected: not connected to DevTools)
  (Session info: chrome=124.0.6367.119)
Stacktrace:
	GetHandleVerifier [0x00007FF7487F1572+60802]
	(No symbol) [0x00007FF74876AC72]
	(No symbol) [0x00007FF748627CE4]
	(No symbol) [0x00007FF74860FA14]
	(No symbol) [0x00007FF74860F8E0]
	(No symbol) [0x00007FF74862A291]
	(No symbol) [0x00007FF7486B98F9]
	(No symbol) [0x00007FF74869A923]
	(No symbol) [0x00007FF748668FEC]
	(No symbol) [0x00007FF748669C21]
	GetHandleVerifier [0x00007FF748AF420D+3217949]
	GetHandleVerifier [0x00007FF748B361A7+3488183]
	GetHandleVerifier [0x00007FF748B2F12F+3459391]
	GetHandleVerifier [0x00007FF7488AB936+823622]
	(No symbol) [0x00007FF74877600F]
	(No symbol) [0x00007FF748770F34]
	(No symbol) [0x00007FF7487710C2]
	(No symbol) [0x00007FF748761914]
	BaseThreadInitThunk [0x00007FFC34F4257D+29]
	RtlUserThreadStart [0x00007FFC36A8AA48+40]

In [76]:
print(len(job_locations),len(job_titles),len(company_names),len(experience_required))

154 154 154 154

In [92]:
import pandas as pd
df=pd.DataFrame({'title':job_titles,'location':job_locations, 'company_name':company_names,'experience_required':experience_required})
df

,title,location,company_name,experience_required
0,Data Analyst,"Hybrid - Kolkata, Bengaluru",Ltimindtree,12-17 Yrs
1,Data Analyst,Hybrid - Bengaluru,Naukri Premium - Employer Services,3-5 Yrs
2,Data Analyst,Bengaluru,Freshmenu,3-7 Yrs
3,Data Analyst,Bengaluru,Quation Solutions,3-8 Yrs
4,Data Analyst,Bengaluru,Deep Cognition India,2-3 Yrs
5,Data Analyst,Bengaluru,Valenta Bpo Solutions,4-5 Yrs
6,Data Analyst,Hybrid - Bengaluru,Silicon Valley Bank,4-8 Yrs
7,Alteryx Data Analyst,"Hyderabad, Pune, Bengaluru",ALOIS Solutions,5-10 Yrs
8,Data Analyst,Bangalore Rural,Two95 International Staffing Services,7-12 Yrs
9,Data Analyst,Bengaluru,Kaplan Test Prep,2-4 Yrs
10,Data Analyst,Remote,Askmeoffers,0-5 Yrs
11,Material Data Analyst,Bengaluru,Becton Dickinson,5-10 Yrs
12,Data Analyst,Bengaluru,ANZ,1-5 Yrs
13,Item Data Analyst,Bengaluru,Hudsons bay Company (HBC),1-2 Yrs
14,Data Analyst,Bengaluru,Spotnana,3-6 Yrs
15,Data Analyst,Bengaluru,Merritt Innovative Solutions,2-4 Yrs
16,Data Analyst,"Hybrid - Pune, Bengaluru",Hiring for Data Analyst,7-12 Yrs
17,Data Analyst,Bangalore Rural,Two95 International Staffing Services,5-10 Yrs
18,Data Analyst,Bengaluru,Collabera,5-10 Yrs
19,Data Analyst 987,Bengaluru,Protiviti India,4-6 Yrs

Q2: Write a python program to scrape data for ““Data Scientist” Job position in “Bangalore” location.
You have to scrape the job-title, job-location, company_name, experience_required. You have to
scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [1]:
driver = webdriver.Chrome()

NameError: name 'webdriver' is not defined

In [80]:
driver.get("https://www.naukri.com/")

In [81]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys("Data Analyst")

In [82]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys("Banglore")

In [83]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[6]")
search.click()

In [84]:
job_titles = []
job_locations = []
company_names = []
experience_required = []

In [88]:
title = driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
for i in title:
    title_tag=i.text
    job_titles.append(title_tag)

location = driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
for i in location:
    location_tag=i.text
    job_locations.append(location_tag)

names = driver.find_elements(By.XPATH,'//div[@class=" row2"]/span/a[1]')
for i in names:
    name_tag=i.text
    company_names.append(name_tag)

experience = driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for i in experience:
    experience_tag=i.text
    experience_required.append(experience_tag)

In [89]:
print(len(job_locations),len(job_titles),len(company_names),len(experience_required))

20 20 20 20

In [90]:
import pandas as pd
df=pd.DataFrame({'title':job_titles,'location':job_locations, 'company_name':company_names,'experience_required':experience_required})
df

,title,location,company_name,experience_required
0,Data Analyst,"Hybrid - Kolkata, Bengaluru",Ltimindtree,12-17 Yrs
1,Data Analyst,Hybrid - Bengaluru,Naukri Premium - Employer Services,3-5 Yrs
2,Data Analyst,Bengaluru,Freshmenu,3-7 Yrs
3,Data Analyst,Bengaluru,Quation Solutions,3-8 Yrs
4,Data Analyst,Bengaluru,Deep Cognition India,2-3 Yrs
5,Data Analyst,Bengaluru,Valenta Bpo Solutions,4-5 Yrs
6,Data Analyst,Hybrid - Bengaluru,Silicon Valley Bank,4-8 Yrs
7,Alteryx Data Analyst,"Hyderabad, Pune, Bengaluru",ALOIS Solutions,5-10 Yrs
8,Data Analyst,Bangalore Rural,Two95 International Staffing Services,7-12 Yrs
9,Data Analyst,Bengaluru,Kaplan Test Prep,2-4 Yrs
10,Data Analyst,Remote,Askmeoffers,0-5 Yrs
11,Material Data Analyst,Bengaluru,Becton Dickinson,5-10 Yrs
12,Data Analyst,Bengaluru,ANZ,1-5 Yrs
13,Item Data Analyst,Bengaluru,Hudsons bay Company (HBC),1-2 Yrs
14,Data Analyst,Bengaluru,Spotnana,3-6 Yrs
15,Data Analyst,Bengaluru,Merritt Innovative Solutions,2-4 Yrs
16,Data Analyst,"Hybrid - Pune, Bengaluru",Hiring for Data Analyst,7-12 Yrs
17,Data Analyst,Bangalore Rural,Two95 International Staffing Services,5-10 Yrs
18,Data Analyst,Bengaluru,Collabera,5-10 Yrs
19,Data Analyst 987,Bengaluru,Protiviti India,4-6 Yrs

To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search fieldwhere “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100sunglasses. Note: That all of the above steps have to be done
by coding only and not manually.

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\prati.pratik\anaconda3\lib\site-packages (4.20.0)
Requirement already satisfied: urllib3<3,>=1.26 in c:\users\prati.pratik\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.0.7)
Requirement already satisfied: trio~=0.17 in c:\users\prati.pratik\anaconda3\lib\site-packages (from selenium) (0.25.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\prati.pratik\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\prati.pratik\anaconda3\lib\site-packages (from selenium) (2024.2.2)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\prati.pratik\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\prati.pratik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\prati.pratik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\prati.pratik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\prati.pratik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\prati.pratik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\prati.pratik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.16.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\prati.pratik\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\users\prati.pratik\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\prati.pratik\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\prati.pratik\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [4]:
import selenium
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from selenium import webdriver
from selenium.webdriver.common.by import By
import time

In [5]:
driver = webdriver.Chrome()

In [6]:
driver.get("https://www.flipkart.com/")

In [7]:
sunglasses=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input")
sunglasses.send_keys("sunglasses")

In [9]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/button")
search.click()

In [13]:
Brand = []
description = []
price = []

In [14]:
start=0
end =5
for page in range(start,end):
    
    Brands=driver.find_elements(By.XPATH,'//div[@class="syl9yP"]')
    for i in Brands:
        Brand_tag=i.text
        Brand.append(Brand_tag)
    
    prices=driver.find_elements(By.XPATH,'//div[@class="Nx9bqj"]')
    for i in prices:
        price_tag=i.text
        price.append(price_tag)
    
    descriptions=driver.find_elements(By.XPATH,'//a[@class="WKTcLC"]')
    for i in descriptions:
        description_tag=i.text
        description.append(description_tag)
        
    next_button= driver.find_element(By.XPATH,'//a[@class="_9QVEpD"]')
    next_button.click()
    time.sleep(3)

In [16]:
print(len(Brand),len(price),len(description))

200 200 180

In [18]:
import pandas as pd
df=pd.DataFrame({'title':Brand,'Price':price})
df

            title   Price
0        Fastrack    ₹503
1       Elligator    ₹149
2          PIRASO    ₹303
3        Fastrack    ₹470
4       Elligator    ₹249
..            ...     ...
195          IDEE    ₹649
196     ROYAL SON    ₹497
197   Eyewearlabs  ₹1,999
198  hayden haiza    ₹265
199       DEIXELS    ₹209

[200 rows x 2 columns]